.Contact
{
    width: 60%;
    margin: auto;
    padding: 25vh 0;
    font-family: 'Montserrat';
    color: #2490f4;
    h2, h3
    {
        color: #edeef2;
    }

    .foo
    {
        float: left;
    }
    
    .logo
    {
        float: right;
        width: 120px;
        img
        {
            width: 100%;

        }
    }
    
    .titrePage
    {
        font-size: 40px;
        clear: both;
        margin-bottom: 70px;
    }

    .info
    { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div
        {
            margin-bottom: 30px;
        }
    }
}
