.EnteteAccueil
{
    //background-image: linear-gradient(rgb(237, 238, 242),rgba(237, 238, 242, 0.212));
    background-image: linear-gradient(#0059b3, #00376e, rgba(0, 0, 0, 0));
    color: #EDEEF2;
    height: 120px;
    
    .nom
    {
        text-shadow: 0px 4px 9px #000;
        margin: 0;
        padding: 15px 20px;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

// Petits écrans
@media(max-width: 950px)
{
    .EnteteAccueil
    {
        .nom
        {            
            font-size: 20px;
        }
    }
}